body {
    background-color: white;
    font-family: 'Rubik', sans-serif;
}

.header {
    background-color: #53da61;
    display: flex;
    color: black;

}

.elementosdelmenu {
    width: 100%;
    height: 110px;
}

ul.menuprincipal {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 10%;
}

li {
    padding: 10 0 40 40;
}

/* esto es para que los links no se vean azules */
a {
    color: #132d0e
}

/* de aca para abajo contenido especial de "portfolio */

.contenidoportfolio h1 {
    text-align: center;
    display: flex;
    float: wrap;
}
.pagina{
    background-color: #53da61;
    width: 30px;
    margin: 3vw;
}

.mockup {
    width: 100%;
    margin: 1vw;
}

.imagenportfolio{
    width: 100%;
    margin: 1vw;
}

.numero1info{
    font-weight: bold;
    text-align: center;
    margin: 1vw;
    padding-top: 3vw;
    padding-left: 3vw;
}

.descripcion{
    text-align: center;
    font-weight: initial;
    font-size: 1vw;
}

.boton {
    text-decoration:none;
    font-weight: 600;
    font-size: 1vw;
    color:#000000;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:15px;
    padding-right:15px;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;

    }

.footer {
    background-color: black;
    height: 100px;
}

.redes {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10%;
}

.redes img {
    padding: 40 0 40 20;
}