body {
    background-color: white;
    font-family: "Courrier New", Courier, monospace;
}
.logo {

}
.header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: black;
    font-weight: bold;
}
ul.menuprincipal {
    background-color: #53da61;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px auto;
    margin-block-end: 2%;
    padding: 10px;
}
.banner img{
    width: 100%;
}
.textoadentro {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
}