body {
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

.header {
    background-color: #53da61;
    display: flex;
    flex-direction: row;
    color: black;

}

.elementosdelmenu {
    width: 100%;
    height: 110px;

}

ul.menuprincipal {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin-right: 10%;
}

li {
    padding: 10 0 40 40;
}

.menuprincipal a{
    color: #132d0e
}
.contenidoportfolio{
    background-color: #53da61;

}
.contenidoportfolio h1 {
    text-align: center;
}
.pagina{
    display: flex;
    flex-direction: row;
    border: 5px solid black;
    margin: 3vw;
}
.imagenportfolio{
    width: 30vw;
    height: 25vw;
    padding: 2vw;
}
.numero1info{
    margin-right: 2vw;
}
.descripcion{
    text-align: justify;
    font-size: 1vw;
}
