.contenidoportfolio{
    background-color: #6fcb5e;

}
.contenidoportfolio h1 {
    text-align: center;
}
.numero1{
    display: flex;
    flex-direction: row;
    border: 5px solid black;
    margin: 3vw;
}
.imagen1{
    width: 30vw;
    height: 25vw;
    padding: 2vw;
}
.numero1info{
    margin-right: 2vw;
}
.descripcion{
    text-align: justify;
}